<div class="col-4 mb-3">
  <div class="card-trip">
    <div class="card-tags">
      <% plant.tags.each do |tag| %>
        <span><%= tag.name %></span>
      <% end %>
      <%= link_to "+", new_plant_plant_tag_path(plant) %>
    </div>
    <img src="<%= plant.image_url %>" />
    <div class="card-trip-infos">
      <div>
        <h2><%= plant.name %></h2>
        <%= link_to "Delete", plant_path(plant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "mt-3 btn btn-outline-danger" %>
      </div>
    </div>
  </div>
</div>